html {
  font-family: "Avenir Next", sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h2 {
  font-family: "Avenir Next", sans-serif;
  font-size: 2.5rem;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

div article {
  width: 33%;
  float: left;
  border: 1px solid #eee;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

div p {
  margin: 5px 0;
}

div ul {
  margin-top: 0;
}

img {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
